[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]nityCache/
[Ll]ogs/
*.user
*.sln
*.suo
*.pidb
*.userprefs
.vscode/
.idea/
*.tmp
*.bak
*.swp
*.swm
*.dll
*.exe
*.app
*.apk
*.pdb
*.mdb
/Library
/Library
